body{
    font-family:  'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp3906260.jpg);
}
canvas{
    border: 4px solid wheat;
}
h1{
    color:wheat
}
h2{
    color: wheat;
    font-size: medium;
    font-weight: bolder;

}